div {
  width: 100%;
}

a {
  /* text-decoration: none; */
  color: black;
  cursor: pointer;
}


.contact-item {
  display: flex;
  gap: 10px; 

}

.contact-name {
  font-weight: bold;
  font-size: 18px;
}

.contact-icon {
  width: 30px;
}

.contact-link {
  flex: 1;
  display: flex;
  margin: auto;
}