.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project-card {
  position: relative;
  overflow: hidden;
  max-width: 450px;
  width: 100%;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 250, 250);

}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-card:hover .project-image-container {
  filter: brightness(50%); /* 이미지를 어둡게 만드는 필터 */
}
.project-title {
  display: flex;
}

.project-title h3 {
  flex: 1;
  font-size: 22px;
}

.project-icon {
  width: 25px;
  fill: white;
  padding: 5px;
}

.project-icon:hover {
  transform: scale(1.2);
}

.project-details {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  color: white;
  z-index: 1;
}

.project-details h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.project-details p {
  line-height: 1.5;
  font-size: 0.9rem;
}