img {
  width: 50px;
  background-color: white;
  padding: 7px;
  border: 1px solid #e6e6e6;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
}

img:hover {
  transform: scale(1.1); /* 이미지 크기를 키우는 효과 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
}